# DataFrames and Read Data

### Download CSV from page and read into DataFrame

In [1]:
import pandas as pd

In [3]:
aapl = pd.read_csv("AAPL.csv")

In [5]:
aapl.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-03-09,25.327499,25.395000,25.067499,25.280001,23.513155,108806800
1,2016-03-10,25.352501,25.559999,25.037500,25.292500,23.524775,134054400
2,2016-03-11,25.559999,25.570000,25.375000,25.565001,23.778234,109632800
3,2016-03-14,25.477501,25.727501,25.445000,25.629999,23.838688,100304400
4,2016-03-15,25.990000,26.295000,25.962500,26.145000,24.317701,160270800

In [7]:
aapl.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [8]:
aapl.index

RangeIndex(start=0, stop=1258, step=1)

In [9]:
aapl = pd.read_csv("AAPL.csv", index_col="Date", parse_dates=True)

In [10]:
aapl.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2016-03-09  25.327499  25.395000  25.067499  25.280001  23.513155  108806800
2016-03-10  25.352501  25.559999  25.037500  25.292500  23.524775  134054400
2016-03-11  25.559999  25.570000  25.375000  25.565001  23.778234  109632800
2016-03-14  25.477501  25.727501  25.445000  25.629999  23.838688  100304400
2016-03-15  25.990000  26.295000  25.962500  26.145000  24.317701  160270800

In [11]:
aapl.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [12]:
aapl.index

DatetimeIndex(['2016-03-09', '2016-03-10', '2016-03-11', '2016-03-14',
               '2016-03-15', '2016-03-16', '2016-03-17', '2016-03-18',
               '2016-03-21', '2016-03-22',
               ...
               '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-26',
               '2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04',
               '2021-03-05', '2021-03-08'],
              dtype='datetime64[ns]', name='Date', length=1258, freq=None)

In [13]:
aapl.loc['2021-02-24']

Open         1.249400e+02
High         1.255600e+02
Low          1.222300e+02
Close        1.253500e+02
Adj Close    1.253500e+02
Volume       1.110399e+08
Name: 2021-02-24 00:00:00, dtype: float64

In [15]:
aapl.loc['2021-02-24':'2021-02-28']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-02-24,124.940002,125.559998,122.230003,125.349998,125.349998,111039900
2021-02-25,124.680000,126.459999,120.540001,120.989998,120.989998,148199500
2021-02-26,122.589996,124.849998,121.199997,121.260002,121.260002,164320000

In [17]:
aapl.iloc[0]

Open         2.532750e+01
High         2.539500e+01
Low          2.506750e+01
Close        2.528000e+01
Adj Close    2.351315e+01
Volume       1.088068e+08
Name: 2016-03-09 00:00:00, dtype: float64

In [18]:
aapl.iloc[-1]

Open         1.209300e+02
High         1.210000e+02
Low          1.162100e+02
Close        1.163600e+02
Adj Close    1.163600e+02
Volume       1.539186e+08
Name: 2021-03-08 00:00:00, dtype: float64

In [19]:
aapl.iloc[0:4]

                 Open       High        Low      Close  Adj Close     Volume
Date
2016-03-09  25.327499  25.395000  25.067499  25.280001  23.513155  108806800
2016-03-10  25.352501  25.559999  25.037500  25.292500  23.524775  134054400
2016-03-11  25.559999  25.570000  25.375000  25.565001  23.778234  109632800
2016-03-14  25.477501  25.727501  25.445000  25.629999  23.838688  100304400

### Project
Calculate the Simple Moving Average

#### Step 1
Access specific column

In [25]:
aapl['Close']

Date
2016-03-09     25.280001
2016-03-10     25.292500
2016-03-11     25.565001
2016-03-14     25.629999
2016-03-15     26.145000
                 ...
2021-03-02    125.120003
2021-03-03    122.059998
2021-03-04    120.129997
2021-03-05    121.419998
2021-03-08    116.360001
Name: Close, Length: 1258, dtype: float64

#### Step 2
Understand *rolling(.)*

In [21]:
aapl['Close'].rolling(2).mean().head()

Date
2016-03-09          NaN
2016-03-10    25.286251
2016-03-11    25.428751
2016-03-14    25.597500
2016-03-15    25.887500
Name: Close, dtype: float64

In [22]:
(25.292500 + 25.280001)/2

25.2862505

In [23]:
(25.565001 + 25.292500)/2

25.4287505

In [24]:
aapl['Close'].rolling(5).mean().head()

Date
2016-03-09        NaN
2016-03-10        NaN
2016-03-11        NaN
2016-03-14        NaN
2016-03-15    25.5825
Name: Close, dtype: float64

#### Step 3
Add a new column to the DataFrame

In [26]:
aapl['MA10'] = aapl['Close'].rolling(10).mean()

In [27]:
aapl.tail()

,Open,High,Low,Close,Adj Close,Volume,MA10
Date,,,,,,,
2021-03-02,128.410004,128.720001,125.010002,125.120003,125.120003,102015300,126.279000
2021-03-03,124.809998,125.709999,121.839996,122.059998,122.059998,112430400,125.401000
2021-03-04,121.750000,123.599998,118.620003,120.129997,120.129997,177275300,124.442999
2021-03-05,120.980003,121.940002,117.570000,121.419998,121.419998,153590400,123.598000
2021-03-08,120.930000,121.000000,116.209999,116.360001,116.360001,153918600,122.634000